.Top_newModal__e7YBk:hover>.Top_newcontent__ocWEd {

    opacity: 1 !important;
    visibility: visible !important
}

.taskContent {
    display: flex;
}

.Button_disabled__QUCEs {
    // background: #322d39 !important;
    // color: #8b8b8c !important;
}

.Info_div1P__71N42,
.rewards_ul2__rGaVC,
.Checkin_ul31__uyrVa {
    height: 350px;
}

.rewards_div1P___aVFL {

    flex-grow: 1;
}

.rewards_flex__1bUuD222 {
    display: flex;
    height: 130px;
}

.rewards_t12__JylBZ {
    margin-top: 8px;
    font-family: "InstrumentSans-Medium";
    font-weight: 400;
}

.rewards_t13__Vm8IV {
    font-family: "InstrumentSans-Medium";

}

.rewards_t14__dqII6 {
    margin-top: 56px;
    margin-bottom: 24px;
}

.Checkin_ps2__RmC5o {
    width: 400px;
    display: inline-block;
    font-size: 14px;
}

.Checkin_ps1__NpZ2U {
    margin-top: 8px;
}

.Checkin_t15img__WrZhE {
    background-color: #444648;
}

.Checkin_t15img__WrZhE img {}

.stab_item__H4RdD {
    font-family: "InstrumentSans-Medium";

}

.asset_card__QFGy1 {
    font-family: "InstrumentSans-Medium";

}

.Checkin_checkinImgCont__cSk5y {
    padding: 33px 12px;
}

.Checkin_ps3__S4cD4 {
    font-size: 16px;
}

.Info_righttxt__mGELN {}

.Info_aend__0xuT52222 {
    margin-top: 20px;
    margin-left: 10px;
}

.Info_v-records__RNkjE {
    line-height: 50px;
    margin-top: 34px;
}

.rewards_flex__1bUuD {
    font-size: 14px;
}

.Info_t151__wvsvk {
    line-height: 48px;
    padding: 0;
    margin-top: 0;
    font-weight: 400;
    font-family: "InstrumentSans-Medium";
}

.Checkin_ps1__NpZ2U,
.Checkin_ps2__RmC5o,
.Info_aend__0xuT52222,
.Checkin_days__Rb7DI {
    font-family: "InstrumentSans-Medium";
    font-weight: 400;

}

.asset_card2__Y0AxO {
    background-image: none;
}

.asset_card__QFGy1:first-child {
    width: 330px;
    margin-right: 24px;
}

.asset_card__QFGy1 {
    background-color: #2c2e30;
}

.asset_tableList__4lotE {
    background-color: #2c2e30;
    padding: 0;

}

.asset_tHeader__kJTjU>span {
    color: #fff;
}

.asset_tableList__4lotE {
    background: none;
}

.stab_content__rJH_2 {
    background-color: #2c2e30;
    border-radius: 15px;
    border-top-left-radius: 0;
    margin-top: 0;
}

.stab_item__H4RdD {
    width: 170px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.stab_active__hccBq {
    background: #2C2E30;
    border-radius: 15px 15px 0px 0px;
}

.stab_item__H4RdD:not(:last-child) {
    margin-right: 0;
}

.account_fTable__YgCX7>thead {
    background: none;
    font-size: 18px;
    color: #929292;
}

// .stab_active__hccBq::after{
//     content: " ";
//     position: absolute;
//     background: #2C2E30;
//     width: 170px;
//     z-index: -1;
//     height: 70px;
//     border-radius: 15px 15px 0px 0px;
// }

.Checkin_lidiv__ainUr {
    background: #1d1f21;
}

.Checkin_days__Rb7DI {
    background-color: #444648;
}

.asset_rNodes__hC4GU>strong {
    color: #fff;
}

.Header_header__G9Trc>.Header_blackHeader__46Gtf {
    background-color: #1d1f21;
}

.Header_mobileMenu__XO2xB {
    background-color: #1d1f21;

}


@media only screen and (max-width:1600px) {
    .rewards_div1P___aVFL {
        display: flex;
        flex-wrap: wrap;

        .Info_div1__Plpc2 {
            // width: 100%;
            // display: block;
        }
    }

    .Info_div1__Plpc2 {
        // width: 410px;   
    }

    .Info_div1P__71N42 {
        //    width: 100%;
        display: block;
    }

    .rewards_ul2__rGaVC {
        width: 350px;
        display: block;
    }

    .Checkin_ul31__uyrVa {
        display: block;
        margin-top: 10px;
    }

    .Footer_footerUl__KSOmH p {
        margin-right: 20px;
    }
}

@media only screen and (max-width:1200px) {
    .Info_div1__Plpc2 {
        width: 410px;
    }

    .rewards_ul2__rGaVC {
        width: 384px;
        // margin-right: 0;
    }

    .Footer_footerUl__KSOmH p {
        margin-right: 20px;
    }
}

// @media only screen and (min-width:1200px) {
//     .Info_div1__Plpc2{
//         width: 410px;
//     }
//     .rewards_ul2__rGaVC{
//         width: 384px;
//         margin-right: 0;
//     }
// }

.game_game__xLvXD22 {
    height: 100%;
    padding-left: 190px;
    width: 100%;
    // min-width: 1300px;
    // max-width: 1920px;
}




.account_fTable__YgCX7>thead>tr>td {
    text-align: center;
}

.stab_tabsWrap__pHwOO * {
    font-family: "InstrumentSans-Medium";
}

.Top_headerAddress__8Sup4 {
    font-family: "InstrumentSans-Medium";

}

.account_fTable__YgCX7 {
    text-align: center;
}

.account_fTable__YgCX7>tbody>tr>td {
    border-bottom: 2px #1D1F21 solid;
    text-align: center;

}

.Top_loginBtn {
    height: 40px;
    color: #888888;
    background-color: #2c2e30;
    text-align: center;
    line-height: 40px;
    font-weight: 700;
    border-radius: 20px;
    padding: 0 25px;
    cursor: pointer;
    font-family: "InstrumentSans-Medium";
    display: flex;
    align-items: center;

    p {
        font-weight: 500;
        font-size: 16px;
        color: #929292;
    }

    .icon {
        width: 25px;
        height: 25px;
        margin-right: 13px;
    }
}

.Top_loginBtn:hover {
    p {

        color: #fff !important;
    }

    background: linear-gradient(-90deg, #F5691E, #F79744);
}

.Info_t3__sTetu {
    font-family: "InstrumentSans-Medium";
    font-weight: 400;
}

.Info_t5__uIFdO {
    font-family: "InstrumentSans-Medium";
}

@media only screen and (max-width:750px) {
    .game_game__xLvXD22 {
        padding-left: 0;
        padding-top: 0;
    }

    .game_game__xLvXD {
        padding-top: 0;
    }

    .BannerItem_title__8E9T3 {
        font-size: 22px;
    }

    .BannerItem_logo__XU5YY {
        width: 60px;
        height: 60px;
    }

    .BannerItem_description__uBIim {
        margin-top: 20px;
        width: 100%;
        font-size: 22px;
        line-height: 26px;

    }

    .rewards_accountWrap__yZp7R {
        margin-top: 0;
    }

    .asset_assetWrap__UrcWK {
        padding-top: 0;
    }

    .SmallBannerItem_smallBannerItem___8kE_ {
        height: 50px;
    }

    .BannerItem_rate__qPeXF {
        margin-top: 130px;
        font-size: 14px;
    }

    .stab_content__rJH_2 {
        overflow-x: scroll;
    }

    .account_folowsContent__YT5IZ {
        width: 800px;

    }

    .stab_item__H4RdD {
        width: 33%;
    }

    .Checkin_ul31__uyrVa {
        height: 600px;
    }

    .BannerItem_linearBg__fwY9N {
        display: block;
    }

    .BannerItem_bannerItem__zaAX9 {
        position: relative;
    }

    .BannerItem_rate__qPeXF {
        position: absolute;
        top: 430px;
        margin-top: 0;
    }


    .BannerItem_btnGetStarted__jczJ6 {
        width: 140px;
        height: 40px;
    }

    .Button_default__ulIdO {
        font-size: 14px;
        padding: 8px 6px !important;
    }

    .BannerItem_title__8E9T3,
    .BannerItem_description__uBIim {
        line-height: 24px;
        font-size: 20px;
        // 文字间距
        letter-spacing: -0.5px;
        margin-top: 10px;
    }

    .BannerItem_title__8E9T3 {
        margin-top: 15px;
    }

    .BannerItem_btnBox__sCN3f {
        margin-top: 10px;
    }

    .Checkin_ps2__RmC5o {
        width: 300px;
        font-size: 12px;
    }
}

.bannerMask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;

}

.BannerItem_linearBg__fwY9N {
    position: relative;
    z-index: 2;
}

.Header_mobileMenu__XO2xB .Header_menuItems__RT2HN a,
.Header_mobileMenu__XO2xB .Header_menuItems__RT2HN>div {
    font-family: "InstrumentSans-Medium";
}


.Header_userName__T5VKC {
    font-family: "InstrumentSans-Medium";
    font-weight: 400;
}

.Button_button__fo9Wi,
.Top_userName__OXb2U {
    font-weight: 400;
    font-family: "InstrumentSans-Medium";
}

.Header_connectContainer_connect {
    line-height: 44px;
    display: flex;
    align-items: center;
    background-color: #2c2e30;
    border-radius: 8px;
    text-align: center;
    justify-content: center;
    margin-top: 4px;
    margin-right: 10px;
}

@media only screen and (max-width: 1600px) {
    .Checkin_ul31__uyrVa {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .Top_mobileHeader__Oe32f {
        display: block;
        height: 59px;
    }

    // .Header_header__G9Trc {
    //     height: 59px;
    // }
}

@media only screen and (width: 750px) {
    .Top_mobileHeader__Oe32f {
        display: block;
        height: 119px;
    }

    // .Header_header__G9Trc {
    //     height: 119px;
    // }

    .Info_div1__Plpc2 {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {

    .Info_div1P__71N42,
    .Info_div1__Plpc2 {
        width: 100%;
    }

    .rewards_ul2__rGaVC {
        width: 100%;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 780px) {
    // .Header_header__G9Trc {
    //     height: 119px;

    // }

}

@media only screen and (max-width: 1020px) {
    .Checkin_checkinList__2dQX3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        gap: 4px;
        margin-block: 13px;
    }

    .Checkin_lidiv__ainUr:last-of-type {
        grid-column: span 3
    }

    .Checkin_ul31__uyrVa,
    .Checkin_ul31__uyrVa li {
        height: inherit;
    }

    .Checkin_lidiv__ainUr:nth-child(3n) {
        margin-right: 0;
    }

    .game_smallBannerBox__8A0rb {
        width: 90%;
    }



}

@media only screen and (max-width: 1440px) {
    .game_gamePart__PigM0 {
        width: 100%;
    }

    .game_game__xLvXD {
        min-width: inherit;
    }

    .SmallBannerItem_smallBannerItem___8kE_ {
        // height: 100px;
    }

    .game_smallBannerBox__8A0rb {
        width: 90%;
    }
}

@media only screen and (min-width: 750px) {

    .BannerItem_title__8E9T3,
    .BannerItem_description__uBIim {
        font-size: 16px;
        line-height: 24px;
    }

    .BannerItem_description__uBIim {
        margin-top: 10px;
    }

    .BannerItem_rate__qPeXF {
        margin-top: 180px;
    }

    .BannerItem_rate__qPeXF {
        font-size: 14px;
    }

    .BannerItem_logo__XU5YY {
        width: 60px;
        height: 60px;
    }

}

@media only screen and (width: 780px) {
    // .Header_header__G9Trc>.Header_blackHeader__46Gtf {
    //     height: 119px;
    // }

    .Top_mobileHeader__Oe32f {
        height: 119px;

    }

    .Top_mobileHeader__Oe32f {
        display: block;
        height: 59px;
    }


}

@media only screen and (max-width: 640px) {
    .Header_connectContainer_connect {
        height: 30px;
        width: 120px;
    }
}


@media only screen and (max-width: 820px) {
    .Checkin_checkinList__2dQX3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 16px;
        gap: 4px;
        margin-block: 13px;
    }

    .Checkin_lidiv__ainUr:nth-child(3n) {
        margin-right: 0;
    }

    .Checkin_lidiv__ainUr:last-of-type {
        grid-column: span 3
    }

    .Checkin_ul31__uyrVa,
    .Checkin_ul31__uyrVa li {
        height: inherit;
    }
}

@media screen and (min-width: 650px) and (max-width:750px) {}

@media screen and (min-width: 750px) and (max-width:850px) {}

@font-face {
    font-family: InstrumentSans_Condensed-Bold;
    src: url('@/fonts/instrus/InstrumentSans_Condensed-Bold.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: InstrumentSans_Condensed-BoldItalic;
    src: url('@/fonts/instrus/InstrumentSans_Condensed-BoldItalic.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans_Condensed-Italic;
    src: url('@/fonts/instrus/InstrumentSans_Condensed-Italic.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: InstrumentSans_Condensed-Medium;
    src: url('@/fonts/instrus/InstrumentSans_Condensed-Medium.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans_Condensed-MediumItalic;
    src: url('@/fonts/instrus/InstrumentSans_Condensed-MediumItalic.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans_Condensed-Regular;
    src: url('@/fonts/instrus/InstrumentSans_Condensed-Regular.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans_Condensed-SemiBold;
    src: url('@/fonts/instrus/InstrumentSans_Condensed-SemiBold.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans_Condensed-SemiBoldItalic;
    src: url('@/fonts/instrus/InstrumentSans_Condensed-SemiBoldItalic.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans_SemiCondensed-Bold;
    src: url('@/fonts/instrus/InstrumentSans_SemiCondensed-Bold.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans_SemiCondensed-BoldItalic;
    src: url('@/fonts/instrus/InstrumentSans_SemiCondensed-BoldItalic.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans_SemiCondensed-Italic;
    src: url('@/fonts/instrus/InstrumentSans_SemiCondensed-Italic.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans_SemiCondensed-Medium;
    src: url('@/fonts/instrus/InstrumentSans_SemiCondensed-Medium.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans_SemiCondensed-MediumItalic;
    src: url('@/fonts/instrus/InstrumentSans_SemiCondensed-MediumItalic.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: InstrumentSans_SemiCondensed-Regular;
    src: url('@/fonts/instrus/InstrumentSans_SemiCondensed-Regular.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans_SemiCondensed-SemiBold;
    src: url('@/fonts/instrus/InstrumentSans_SemiCondensed-SemiBold.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans_SemiCondensed-SemiBoldItalic;
    src: url('@/fonts/instrus/InstrumentSans_SemiCondensed-SemiBoldItalic.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: InstrumentSans-Bold;
    src: url('@/fonts/instrus/InstrumentSans-Bold.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans-BoldItalic;
    src: url('@/fonts/instrus/InstrumentSans-BoldItalic.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans-Italic;
    src: url('@/fonts/instrus/InstrumentSans-Italic.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans-Medium;
    src: url('@/fonts/instrus/InstrumentSans-Medium.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans-MediumItalic;
    src: url('@/fonts/instrus/InstrumentSans-MediumItalic.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans-Regular;
    src: url('@/fonts/instrus/InstrumentSans-Regular.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans-SemiBold;
    src: url('@/fonts/instrus/InstrumentSans-SemiBold.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: InstrumentSans-SemiBoldItalic;
    src: url('@/fonts/instrus/InstrumentSans-SemiBoldItalic.ttf') format("opentype");
    font-weight: normal;
    font-style: normal;
}




.Left_leftWrap__Ev90K {}

.Top_h__XiNVG {
    width: 100%;
    justify-content: space-between;

}


#app {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.root {
    width: 100%;
    height: 100%;
    display: flex;

    .rightContent {
        flex: 1;

        .topNav {
            height: 68px;
            width: 100%;
        }

        .content {
            height: calc(100% - 68px - 76px);
            // border: 1px red solid;
            box-sizing: border-box;

            background: url("@/assets/entiry/UI_Bg_01.png") no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            position: relative;

            z-index: 1;


            .start {
                width: 920px;
                // margin: 360px auto 0;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                font-family: Instrument Sans;
                font-weight: bold;

                .tips {
                    font-size: 37px;
                    color: red;
                    font-family: "InstrumentSans-Bold";
                    text-align: center;
                    line-height: 60px;
                }

                .input {
                    width: 840px;
                    height: auto;
                    overflow-y: visible;
                    // min-height: 66px;

                    max-height: 380px;
                    background: #FFFFFF;
                    border-radius: 33px;
                    margin: 45px auto 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    box-sizing: border-box;

                    .enter {
                        width: 10%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .icon {}

                    .input-box {
                        padding: 6px;
                        min-height: 54px;
                        box-sizing: border-box;
                        width: 90%;
                    }

                    .inputText {
                        resize: none;
                        border: none;
                        font-family: "InstrumentSans-Medium";
                        background-color: #fff;
                        border-radius: 33px;
                        max-height: 380px;
                        line-height: 66px;
                        color: #929292;
                        box-sizing: border-box;
                        font-size: 21px;
                        padding: 0px 0 0px 10px;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }


            .chat-content {
                display: flex;
                height: 100%;
                // width: 700px;
                margin: 0 auto;

                .chatList {
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    // border: 1px red solid;
                    position: relative;

                }

                .history {
                    // padding-top: 50px;

                    flex-grow: 1;
                    // height: calc(100% - 66px);
                    overflow: hidden;
                    position: relative;
                    z-index: 3;
                    padding-bottom: 100px;

                    .closeStatus {
                        height: 37% !important;
                    }

                    .history-list {
                        height: 100%;
                        // height: calc(100% - 66px);
                        // padding: 30px 0;
                        overflow: auto;
                        overflow-y: scroll;
                        position: relative;
                        z-index: 2;
                        scrollbar-width: auto;

                        &::-webkit-scrollbar {
                            width: 10px
                        }

                        &::-webkit-scrollbar-track {
                            background: #18191b
                        }

                        &::-webkit-scrollbar-thumb {
                            background: #2E3134
                        }

                        &::-webkit-scrollbar-thumb:hover {
                            background: #2E3134;
                            border-radius: 10px
                        }

                    }

                    .history-list2 {
                        width: 840px;
                        margin: 0 auto;
                        display: flex;
                        height: auto;
                        flex-direction: column;
                        position: relative;
                        z-index: 4;
                        overflow: auto;
                    }

                    .history-item {
                        display: flex;
                        font-size: 21px;
                        color: #1D1F21;
                        margin: 15px 0;


                        .item-header {
                            width: 60px;
                            height: 60px;
                            margin-right: 23px;

                            img {
                                width: inherit;
                                height: inherit;
                            }
                        }

                        .item-content {
                            // min-width: 332px;
                            background: #FFFFFF;
                            border-radius: 10px;
                            padding: 17px 15px;
                            max-width: 600px;
                        }


                    }

                    .my {

                        // flex-direction: row-reverse;
                        align-self: flex-end;

                        .item-header {
                            order: 1;
                            margin-left: 23px;
                        }

                        .item-content {
                            background: #E5A168;
                            order: 0;
                            text-align: right;
                        }
                    }

                    .other {
                        // flex-direction: row-reverse;
                        align-self: flex-start;

                        .item-header {
                            order: 0;
                        }

                        .item-content {
                            order: 1;
                        }
                    }

                }

                .tips {
                    width: 1140px;
                    font-size: 37px;
                    color: #FFFFFF;
                    font-family: "InstrumentSans-Bold";
                    text-align: center;
                    line-height: 60px;
                    height: 120px;
                    margin: 0 auto 30px;
                }

                .tips2 {
                    // visibility: hidden;
                    display: none;
                }

                .chatInput {
                    width: 840px;
                    height: 66px;
                    margin: 0 auto 33px;
                    background: #FFFFFF;
                    border-radius: 33px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    box-sizing: border-box;

                    position: relative;
                    z-index: 3;



                    ._input {
                        width: 90%;

                        &::placeholder {
                            color: #929292;
                            font-family: "InstrumentSans-Medium";
                        }
                    }

                    .inputEx {
                        height: 66px;
                        width: 100%;
                        font-family: "InstrumentSans-Medium";

                        font-weight: 500;
                        font-size: 21px;
                        color: #929292;
                        resize: none;
                        border-radius: 33px;

                        border: none;
                        padding-left: 20px;
                        background-color: #fff;

                        &:focus {
                            outline: none;
                        }
                    }

                    .iconBox {
                        cursor: pointer;
                        width: 10%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .loading {
                            width: 30px;
                            height: 30px;
                            animation: rotate 3s linear infinite;
                        }
                    }

                    /* 定义动画关键帧 */
                    @keyframes rotate {
                        from {
                            transform: rotate(0deg);
                        }

                        to {
                            transform: rotate(360deg);
                        }
                    }
                }

                .roleSize {
                    // width: 795px;
                    // height: 897px;
                    width: 815px;
                    height: 905px;

                    position: absolute;
                    z-index: 3;

                    .roleInfo {
                        position: absolute;
                        left: 44%;
                        top: 74%;
                        transform: translate(-50%, -50%);
                        width: 319px;
                        height: 184px;
                        border-radius: 10px;
                        border: 1px solid #FFFFFF;
                        background: url("@/assets/entiry/UI_Bg_02.png") no-repeat;
                        background-size: cover;
                        padding-top: 20px;
                        padding-left: 20px;
                        padding-right: 20px;

                        .cardTitle {
                            position: absolute;
                            left: 0;
                            top: -28px;
                            width: 132px;
                            height: 28px;
                            font-family: "InstrumentSans-Bold";
                            font-weight: bold;
                            font-size: 36px;
                            color: #FFAF6C;
                            text-shadow: 3px 3px 1px black;

                        }

                        .nameList {
                            display: flex;
                            // display: grid;
                            align-items: center;
                            font-size: 21px;
                            flex-direction: row;
                            color: #FFFFFF;
                            // grid-template-columns: repeat(auto - fit, minmax(60px, 1fr));
                            // grid-gap: 10px;
                            text-shadow: 3px 3px 1px black;
                            font-family: "InstrumentSans-SemiBold";

                            .title {
                                font-family: Instrument Sans;
                                font-weight: 600;
                                line-height: 37px;

                            }

                            .line {
                                border-top: 2px dashed #e7a269;
                                // grid-column-span: auto;
                                height: 1px;
                                flex-grow: 1;
                                margin: 0 20px;
                                // background-color: lightgreen;
                            }

                            .name {
                                font-weight: 500;
                            }
                        }
                    }

                    &:hover {
                        filter: drop-shadow(0px 0 30px var(--c)) drop-shadow(0px 0 10px var(--c));
                        transition: all 250ms ease;
                    }

                    img {
                        width: 100%;
                        height: 100%;



                    }
                }

                .chatList {}

                .leftRole {
                    left: -10px;
                    bottom: -35px;


                    &:hover {
                        filter: drop-shadow(0px 0 30px var(--c)) drop-shadow(0px 0 10px var(--c));
                        transition: all 250ms ease;
                    }
                }

                .rightRole {
                    bottom: -35px;

                    right: -10px;
                    z-index: 2;
                }
            }
        }
    }
}

.Footer_fBottom__Rnh5j {
    margin-top: 0;
    line-height: 76px;
}

.Footer_foot__Dhg3y {
    height: 76px;
    position: relative;
    z-index: 2;
    padding: 0 30px;
    background-color: #1d1f21;
}

.Footer_internet__ZTV2_ {
    font-size: 16px;
    color: #444648;
}

.Footer_footerUl__KSOmH p {
    padding-top: 0;
    font-weight: 500px;
    font-size: 18px;
    color: #929292;
}

.Footer_jus__4WTNr li {
    margin-left: 70px;
}

.Left_ul1__jtA0x li {
    margin: 10px auto;
}

.history-item,
.create-agent {
    font-family: "InstrumentSans-Medium";

}

.Left_active__6JdbD {
    color: #fff !important;
    background: linear-gradient(-90deg, #F79744, #F5691E) !important;
}

.navIcons {
    padding-top: 0;

    .mask {
        display: none;
    }

    .navIconList {
        display: flex;
        align-items: center;
        height: 68px;

        .menuImg {
            position: relative;
            z-index: 4;
            width: 21px;
            height: 20px;
            cursor: pointer;
        }

        .right-logo {
            width: 128px;
            height: 20px;
            margin: 0;
            margin-left: 13px;
        }
    }
}

.Left_pad25__PY2FV {
    width: inherit;
}

.Left_ul1__jtA0x {
    margin-top: 30px;
}