         .react-confirm-alert-overlay {
           background: rgba(0, 0, 0, 0.6) !important;
         }

         * {
           box-sizing: border-box;
           margin: 0;
           padding: 0
         }

         body {
           margin: 0;
           color: #fff;
           min-width: 320px;
         }

         .flex {
           display: flex;
         }

         .jus {
           justify-content: space-between;
         }

         .ane {
           align-items: center;
         }

         .card {
           width: 272px;
           height: 284px;
         }

         .wrap {
           flex-wrap: wrap;
         }

         .jud {
           justify-content: flex-end;
         }

         .padr30 {
           padding-right: 30px;
         }

         .w256 {
           width: 256px
         }

         .f1 {
           flex: 1
         }

         .div1 {
           border-radius: 12px;
           border: 1px solid rgba(255, 255, 255, 0.29);
           background: #17171A;
           padding: 32px 44px;
           position: relative;
         }

         .div1P {
           padding: 24px
         }

         .righttxt {
           color: #FFF;
           text-align: right;
           font-family: Inter;
           font-size: 24px;
           font-style: normal;
           font-weight: 600;
           line-height: 130%;
           width: 356px;
           height: 100%;
           background: url(/assets/img/a20.png);
           position: absolute;
           right: 20px;
           top: 0;
           display: flex;
           justify-content: flex-end;
           align-items: center;
           background-repeat: no-repeat;
           background-position: center;
           flex-direction: column;
           justify-content: center;
           align-items: flex-end;
         }

         .loading2 {
           color: #fff
         }

         .img3 {
           width: 160px;
           height: 160px;
           border-radius: 50%;
           margin-right: 24px
         }

         .t1 {
           color: #FF6759;
           color: #FF6759;
           font-feature-settings: 'clig'off, 'liga'off;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 600;
           line-height: 100%;
           /* 12px */
         }

         .img4 {
           width: 12px;
           margin-right: 2px;
           margin-left: 4px
         }

         .t2 {
           color: #8B8B8C;
           font-feature-settings: 'clig'off, 'liga'off;
           font-family: Inter;
           font-size: 10px;
           font-style: normal;
           font-weight: 400;
           line-height: 100%;
           /* 10px */
         }

         .img31 {
           width: 24px;
           margin-right: 3px
         }

         .t3 {
           color: #FFF;
           text-align: right;
           font-family: Inter;
           font-size: 24px;
           font-style: normal;
           font-weight: 700;
           line-height: 130%;
           /* 31.2px */
         }

         .t4 {
           border-radius: 37px;
           border: 1px solid #7B46FF;
           background: rgba(123, 70, 255, 0.50);
           color: #FFF;
           font-family: Inter;
           font-size: 14px;
           font-style: normal;
           font-weight: 600;
           line-height: 130%;
           /* 18.2px */
           margin-left: 12px;
           padding: 8px 12px;
         }

         .t5 {
           color: #8B8B8C;
           font-feature-settings: 'clig'off, 'liga'off;
           font-family: Inter;
           font-size: 14px;
           font-style: normal;
           font-weight: 500;
           line-height: 130%;
           /* 18.2px */
           margin-top: 10px;
           margin-bottom: 12px;
         }

         .img5 {
           width: 16px;
           margin-left: 3px
         }

         .img6 {
           width: 13px;
           margin-right: 3px
         }

         .img7 {
           width: 14px;
           margin-right: 3px
         }

         .img8 {
           width: 20px;
           margin-right: 3px
         }

         .t6 {
           border-radius: 4px;
           background: #322D39;
           color: #8B8B8C;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 400;
           line-height: 100%;
           /* 12px */
           height: 24px;
           padding-left: 10px;
           padding-right: 10px;
         }

         .o-bind {
           color: #fff;
         }

         .t8 {
           border-radius: 4px;
           background: #322D39;
           color: #8B8B8C;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 400;
           line-height: 100%;
           /* 12px */
           height: 24px;
           padding-left: 10px;
           padding-right: 10px;
         }

         .t7 span {
           margin-right: 12px
         }

         .img9 {
           margin-right: 4px;
           width: 23px
         }

         .two {
           margin-top: 44px;
           margin-bottom: 32px
         }

         .fixbody {
           background: rgba(0, 0, 0, .5);
           width: 100%;
           height: 100%;
           position: fixed;
           z-index: 10
         }

         .fix {
           position: absolute;
           left: 50%;
           top: 40%;
           border-radius: 28px;
           border: 1px solid #4D4D50;
           background: #242429;
           transform: translate(-50%, -50%);
           width: 200px;
           height: 200px;
           z-index: 11;
         }

         .t9 {
           border-radius: 4px;
           background: #17171A;
           padding: 4px;
           color: #8B8B8C;
         }

         .t9 .active {
           border-radius: 4px;
           background: #7B46FF;
           height: 32px;
           line-height: 32px;
           color: #fff;
         }

         .t9 div {
           padding-left: 22px;
           padding-right: 22px;
           cursor: pointer;
         }

         .t10 {
           color: #8B8B8C;
           text-align: right;
           font-family: Inter;
           font-size: 14px;
           font-style: normal;
           font-weight: 600;
           line-height: 130%;
           /* 18.2px */
         }

         .img10 {
           width: 27px
         }

         .a26 {
           position: absolute;
           right: -1px;
           top: -1px;
         }

         .img11 {
           width: 16px;
           position: absolute;
           right: 0;
           bottom: 0;
         }

         .ul2 li {
           border-radius: 12px;
           border: 1px solid #4D4D50;
           background: #17171A;
           padding: 20px 20px 24px 20px;
           width: 300px;
           margin-bottom: 24px;
           position: relative;
         }

         .ul2 li:not(:last-child) {
           margin-right: 16px;
         }

         .t11 {
           margin-bottom: 12px
         }

         .s-icon {
           display: flex;
           align-items: center;
           justify-content: center;
           width: 32px;
           height: 32px;
           border: 1px solid rgba(175, 147, 197, 0.15);
           border-radius: 8px;
           background-color: rgba(175, 147, 197, 0.18);
         }

         .s-icon .twitter {
           width: 16px;
         }

         .s-icon .discord {
           width: 22px;
         }

         .t12 {
           color: var(--Greyscale-0, #FFF);
           font-family: Inter;
           font-size: 16px;
           font-style: normal;
           font-weight: 700;
           line-height: 150%;
           /* 24px */
           letter-spacing: 0.32px;
           margin-bottom: 5px;
         }

         .t13 {
           color: #8B8B8C;
           font-family: Inter;
           display: inline-block;
           font-size: 14px;
           font-style: normal;
           font-weight: 400;
           min-height: 60px;
           line-height: 150%;
           /* 21px */
           letter-spacing: 0.28px;
         }

         .t14 {
           border-radius: 4px;
           background: #2C2730;
           padding: 10px 12px;
           color: #FFF;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 500;
           line-height: 100%;
           /* 12px */
           margin-top: 18px;
           margin-bottom: 20px
         }

         .t15img {
           width: 40px;
           height: 40px;
           border-radius: 8px;
           background: #2C2730;
           flex-shrink: 0;
           margin-right: 8px;
           display: flex;
           justify-content: center;
           align-items: center;
         }

         .rbtn2 {
           width: 214px;
           height: 30px;
           flex-shrink: 0;
           color: #FFF;
           text-align: center;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 700;
           line-height: 30px;
           border-radius: 68px;
           background: #46414A;
         }

         .rbtn {
           width: 214px;
           height: 30px;
           flex-shrink: 0;
           color: #FFF;
           text-align: center;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 700;
           line-height: 30px;
           /* 12px */
           border-radius: 68px;
           background: linear-gradient(97deg, #7B46FF 37.9%, #FF8744 108.01%);
           backdrop-filter: blur(21.899999618530273px);
         }

         .t15 {
           color: #fff;
           font-family: Inter;
           font-size: 14px;
           font-style: normal;
           font-weight: 400;
           line-height: 150%;
           /* 21px */
           letter-spacing: 0.28px;
           margin-top: 5px;
         }

         .img32 {
           width: 32px;
         }

         .leftDiv {
           padding-left: 28px;
           padding-right: 28px;
           padding-top: 48px;
           width: 350px;
           border-right: 1px solid #4D4D50;
           height: 100%
         }

         .t16 {
           color: var(--Greyscale-0, #FFF);
           font-family: Inter;
           font-size: 24px;
           font-style: normal;
           font-weight: 600;
           line-height: 130%;
           /* 31.2px */
           margin-bottom: 16px
         }

         .t17 {
           color: #8B8B8C;
           font-family: Inter;
           font-size: 14px;
           font-style: normal;
           font-weight: 400;
           line-height: 150%;
           /* 21px */
           letter-spacing: 0.28px;
           margin-bottom: 12px;
           display: block
         }

         .ul31 li {
           border-radius: 8px;
           border: 1px solid #4D4D50;
           padding: 12px 16px;
           margin-bottom: 12px;
           width: 874px;
         }

         .ul3 li {
           border-radius: 8px;
           border: 1px solid #4D4D50;
           padding: 12px 16px;
           margin-bottom: 12px;
         }

         .img12 {
           width: 40px;
           margin-right: 12px
         }

         .t18 {
           color: var(--Greyscale-0, #FFF);
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 700;
           line-height: 150%;
           /* 18px */
           letter-spacing: 0.24px;
         }

         .t19 {
           color: #8B8B8C;
           font-family: Inter;
           font-size: 10px;
           font-style: normal;
           font-weight: 400;
           line-height: 150%;
           /* 15px */
           letter-spacing: 0.2px;
         }

         .rightDiv {
           width: 534px;
           text-align: center;
         }

         .rightDiv h2 {
           color: var(--Greyscale-0, #FFF);
           text-align: center;
           font-family: Inter;
           font-size: 24px;
           font-style: normal;
           font-weight: 600;
           line-height: 130%;
           /* 31.2px */
           margin-bottom: 83px
         }

         .div3 {}

         .t151 {
           border-radius: 37px;
           border: 1px solid #7B46FF;
           background: rgba(123, 70, 255, 0.50);
           color: #FFF;
           text-align: right;
           padding: 9px 16px;
           font-family: Inter;
           font-size: 16px;
           font-style: normal;
           font-weight: 500;
           line-height: 130%;
           /* 20.8px */
           margin-top: 20px
         }

         .aend {
           align-self: flex-end;
         }

         .btn {
           border-radius: 68px;
           background: linear-gradient(97deg, #7B46FF 37.9%, #FF8744 108.01%);
           backdrop-filter: blur(21.899999618530273px);
           width: 100%;
           height: 30px;
           text-align: center;
           color: #FFF;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 700;
           line-height: 30px;
         }

         .btnNot {
           border-radius: 68px;
           background: #46414A;
           backdrop-filter: blur(21.899999618530273px);
           width: 100%;
           height: 30px;
           text-align: center;
           color: #8B8B8C;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 700;
           line-height: 30px;
         }

         .ps1 {
           color: #FFF;
           display: block;
           font-family: Inter;
           font-size: 15px;
           font-style: normal;
           font-weight: 600;
           line-height: 100%;
           margin-bottom: 3px
         }

         .ps2 {
           color: #8B8B8C;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 400;
           line-height: 100%;
           /* 12px */
         }

         .lidiv {

           color: #8B8B8C;
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           align-items: center;
           padding: 16px 12px 12px 12px;
           width: 102px;
           flex-shrink: 0;
           border-radius: 8px;
           border: 1px solid #2C2730;
           background: #2C2730;
         }

         .lidiv img {
           margin-top: 8px;
           margin-bottom: 14px
         }

         .lidiv.active {
           color: #fff;
           display: flex;
           flex-direction: column;
           justify-content: space-between;
           align-items: center;
           padding: 16px 12px 12px 12px;
           width: 102px;
           flex-shrink: 0;
           border-radius: 8px;
           border: 1px solid #7B46FF;
           background: rgba(123, 70, 255, 0.10);
         }

         .lidiv .ps3 {
           color: #8B8B8C;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 600;
           line-height: 24px;
           width: 78px;
           display: block;
           text-align: center;
           height: 24px;
           flex-shrink: 0;
           border-radius: 68px;
           background: #46414A;
           backdrop-filter: blur(21.899999618530273px);
         }

         .lidiv.active .ps3 {
           color: #FFF;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 600;
           line-height: 24px;
           width: 78px;
           display: block;
           text-align: center;
           height: 24px;
           flex-shrink: 0;
           border-radius: 68px;
           background: linear-gradient(97deg, #7B46FF 37.9%, #FF8744 108.01%);
           backdrop-filter: blur(21.899999618530273px);
         }

         .div4 {
           margin-top: 20px;
           margin-bottom: 16px
         }

         .div5 {
           position: relative;
           width: 733px;
           margin-left: auto;
           margin-right: auto
         }

         .div5 .line {
           width: 100%;
           height: 3px;
           background: #2C2730;
           position: absolute;
           z-index: 1;
         }

         .div5 .yuan {
           width: 20px;
           height: 20px;
           background: #2C2730;
           border-radius: 50%;
           position: relative;
           z-index: 2;
         }

         .div5 .yuan.active {
           background: #7B46FF;
         }

         .div6 {
           border-radius: 12px;
           background: #17171A;
           padding: 16px;
         }

         .th-6 {
           padding-right: 10px;
         }

         .t52 {
           color: #8B8B8C;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 400;
           line-height: 100%;
           /* 12px */
         }

         .tr span .ps5 {
           color: #8B8B8C;
           font-family: Inter;
           margin-left: 3px;
           font-size: 10px;
           font-style: normal;
           width: auto !important;
           font-weight: 400;
           line-height: 100%;
           /* 10px */
         }

         .ps6 {
           color: #FFF;
           text-align: right;
           font-family: Inter;
           font-size: 16px;
           font-style: normal;
           font-weight: 600;
           line-height: 100%;
         }

         .t53 {
           color: #fff;
           max-height: 60vh;
           overflow-y: auto;
         }

         .tr {
           border-radius: 8px;
           background: #2C2730;
           margin-bottom: 16px
         }

         .t53 .tr:last-child {
           margin-bottom: 0
         }

         .th {
           margin-bottom: 16px
         }

         .hidden {
           visibility: hidden;
         }

         .tr {
           padding: 12px;
           position: relative;
         }

         .tr span:nth-child(1) {
           width: 120px;
           text-align: center;
           justify-content: center;
         }

         .tr span:nth-child(2) {
           width: 100%;
           text-align: center;
           justify-content: left;
           margin-left: 40px;
         }

         .th span:nth-child(1) {
           width: 10%;
           text-align: center;
         }

         .th span:nth-child(2) {
           width: 65%;
           text-align: left;
         }

         .trone:after {
           content: '';
           width: 6px;
           height: 56px;
           flex-shrink: 0;
           background: linear-gradient(180deg, #FFFAE2 0%, #FFD42A 100%);
           position: absolute;
           left: 0;
           border-radius: 8px 0 0 8px;
         }

         .trtwo:after {
           content: '';
           width: 6px;
           height: 56px;
           flex-shrink: 0;
           background: linear-gradient(180deg, #F6F9FC 0%, #B6C4D3 100%);
           position: absolute;
           left: 0;
           border-radius: 8px 0 0 8px;
         }

         .trthree:after {
           content: '';
           width: 6px;
           height: 56px;
           flex-shrink: 0;
           background: linear-gradient(180deg, #FFF4EB 0%, #FF9662 100%);
           position: absolute;
           left: 0;
           border-radius: 8px 0 0 8px;
         }

         .div2 {
           cursor: pointer;
           position: absolute;
           top: 16px;
           right: 16px
         }

         .from {
           border-radius: 12px;
           background: #17171A;
           padding: 24px
         }

         .from p {
           color: #8B8B8C;
           font-family: Inter;
           font-size: 16px;
           font-style: normal;
           font-weight: 400;
           line-height: 100%;
           margin-bottom: 16px;
         }

         .from ul {
           margin-top: 32px
         }

         .from ul p {
           color: #8B8B8C;
           font-family: Inter;
           font-size: 16px;
           font-style: normal;
           font-weight: 400;
           line-height: 100%;
         }

         .from ul li {
           padding: 14px 20px;
           border-radius: 12px;
           border: 1px solid #4D4D50;
           background: #17171A;
           height: 64px;
         }

         .from ul li div.not {
           color: #8B8B8C;
           font-family: Inter;
           font-size: 16px;
           font-style: normal;
           font-weight: 500;
           line-height: 100%;
           width: 86px;
           height: 36px;
           text-align: center;
           line-height: 36px;
           flex-shrink: 0;
           border-radius: 68px;
           background: #322D39;
         }

         .from ul li div {
           color: #FFF;
           font-family: Inter;
           font-size: 16px;
           font-style: normal;
           font-weight: 500;
           line-height: 100%;
           width: 86px;
           height: 36px;
           text-align: center;
           line-height: 36px;
           flex-shrink: 0;
           border-radius: 68px;
           background: linear-gradient(97deg, #7B46FF 37.9%, #FF8744 108.01%);
           backdrop-filter: blur(21.899999618530273px);
         }

         .topp1 {
           margin-top: 32px
         }

         .from ul li input {
           height: 100%;
           background: none;
           border: 0;
           flex: .9;
           outline: none;
           color: #fff;
         }

         .txt-input:hover {
           border: 1px solid #7B46FF;
         }

         .btnTwoA {
           display: flex;
           width: 240px;
           padding: 12px 90px;
           flex-direction: column;
           align-items: flex-start;
           gap: 10px;
           border-radius: 68px;
           background: #322D39;
           backdrop-filter: blur(21.899999618530273px);
           color: #8B8B8C;
           text-align: center;
           font-family: "PingFang SC";
           font-size: 14px;
           font-style: normal;
           font-weight: 600;
           line-height: normal;
           text-transform: uppercase;
         }

         .btnTwoB {
           width: 380px;
           padding: 12px 100px;
           flex-direction: column;
           align-items: flex-start;
           gap: 10px;
           border-radius: 68px;
           background: #7B46FF;
           backdrop-filter: blur(21.899999618530273px);
           color: #FFF;
           text-align: center;
           font-family: "PingFang SC";
           font-size: 14px;
           font-style: normal;
           font-weight: 600;
           line-height: normal;
           text-transform: uppercase;
         }

         .btnTwo {
           margin-top: 40px;
           justify-content: center;
         }

         .from ul div {
           width: 48%
         }

         .from ul div span {
           color: #8B8B8C;
           text-align: right;
           font-family: Inter;
           font-size: 12px;
           font-style: normal;
           font-weight: 600;
           line-height: 100%;
           /* 12px */
         }

         .cfff {
           color: #fff !important
         }

         .divPaAll {
           width: 30%;
           height: 72px;
           flex-shrink: 0;
           border-radius: 12px;
           background: #2C2730;
           padding: 20px
         }

         .divPa1 {
           color: #8B8B8C;
           text-align: right;
           font-family: Inter;
           font-size: 16px;
           font-style: normal;
           font-weight: 500;
           line-height: 100%;
           /* 16px */
         }

         .divPa2 {
           color: #FFF;
           text-align: right;
           font-family: Inter;
           font-size: 24px;
           font-style: normal;
           font-weight: 500;
           line-height: 100%;
           /* 24px */
         }

         .refer-lock {
           margin-top: 28px;
           font-family: Inter;
           font-style: normal;
           font-weight: 500;
           width: 100% !important;
           display: flex;
           align-items: center;
           justify-content: center;
           border-radius: 12px;
           background: #2C2730;
           padding: 42px 0;
         }

         .refer-lock>span {
           font-size: 16px !important;
           margin-left: 8px;
           color: #FFF !important;
         }

         .invite-wrap {
           margin-top: 48px;
         }

         .invite-head {
           display: flex;
           align-items: center;
         }

         .invite-head>h2 {
           color: #FFF;
           font-size: 18px;
         }

         .invite-head .invite-head-right {
           display: flex;
           align-items: center;
         }

         .invite-head .invite-head-right .i-invited {
           color: #8B8B8C;
           font-size: 12px;
           margin: 0 8px;
         }

         .invite-head .invite-head-right .i-invited>span {
           color: #FFF;
         }

         .invite-list {
           margin-top: 16px;
         }

         .invite-item {
           margin-bottom: 16px;
           display: flex;
           align-items: center;
           justify-content: space-between;
           border-radius: 12px;
           background: #2C2730;
           padding: 12px;
         }

         .invite-item .i-right {
           display: flex;
           align-items: center;
         }

         .invite-item .i-right>img {
           width: 50px;
           border-radius: 50%;
           margin-right: 10px;
         }

         .invite-item .i-right .r-info {}

         .invite-item .i-right .r-info .i-address {
           margin-bottom: 0 !important;
           color: #FFF;
           font-family: Inter;
           font-size: 18px;
           font-weight: 500;
         }

         .invite-item .i-right .r-info .i-date {
           margin-bottom: 0 !important;
           color: #8B8B8C;
           font-family: Inter;
           font-size: 14px;
           margin-top: 8px;
         }

         .invite-item .i-left {}

         .invite-item .i-left .l-points {
           display: flex;
           align-items: center;
         }

         .invite-item .i-left .l-points>img {
           width: 24px;
           margin-right: 8px;
         }

         .invite-item .i-left .l-points>span {
           color: #FFF;
           font-size: 16px;
           font-weight: 600;
         }

         .invite-item .i-left .l-bind {
           color: #8B8B8C;
           font-size: 16px;
           margin-top: 8px;
         }

         .v-records {
           color: #8B8B8C;
           font-size: 12px;
           display: flex;
           align-items: center;
           margin-top: 12px;
           cursor: pointer;
         }

         .v-records>img {
           width: 12px;
           margin-right: 8px;
         }

         .swiper-wrapper {
           display: flex;
           justify-content: space-between;
         }